<!DOCTYPE html>
<html>
  <head>
  <title>Cats</title>
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container" id="main-content">
      <h1>I love dogs more than cats so you can take these</h1>
      Click here
      ↓
      <a class="page-link" href="/cats">
        <h1><b>All Cats</b></h1>
      </a>
      <br>
      <h3>Also, from today you can leave you noizy cat that you don't want to have anymore here.</h3>
      <a class="page-link" href="/create">
        <h1><b>Bye-bye</b></h1>
      </a>
    </div>
  </body>
</html>
